<%- include('../admin/layout/adminSidebar.ejs') -%>
<%- include('../admin/layout/adminHeader.ejs') -%>


<div class="main-panel">
  <div class="content-wrapper">
<div class="row">
    
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Offer Management</h4>
          
          
          <br>
          <div class="text-right">
            <a href="/admin/addOff">
              <button type="button" class="btn btn-success ml-auto" data-toggle="button" aria-pressed="false" autocomplete="off">
                + ADD OFFERS
              </button>
            </a>
          </div>
          <div class="table-responsive">
            <table class="table ">
              <thead>
                <tr>
                  <th>No.</th>
                  
                  <th>Name of Product</th>
                  <th>Offer %</th>
                  <th>Category</th>
                  
                  
                  
                 
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  
                  <td>
                  

                  </td>
                
                    </a>
                  </td>

                </tr>
           

               
                  <tr>
                      <td colspan="5">products Not Found</td>
                    </tr>
  
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>

</div>



<%- include('../admin/layout/adminFooter.ejs') -%>