<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HIS & HERS</title>
    <meta name="keywords" content="HTML5 Template">
    
    <meta name="author" content="p-themes">
    <!--Favicon -->
   
    <link rel="icon" href="user/images/logo-icon.png" type="image/x-icon">
    <link rel="shortcut icon" href="user/images/logo-icon.png" type="image/x-icon">

    <meta name="theme-color" content="#ffffff"> 
   <!-- Plugins CSS File -->
   <link rel="stylesheet" href="user/css/bootstrap.min.css">
   <link rel="stylesheet" href="user/css/plugins/owl-carousel/owl.carousel.css">
   <link rel="stylesheet" href="user/css/plugins/magnific-popup/magnific-popup.css">
   <link rel="stylesheet" href="user/css/plugins/jquery.countdown.css">
   <!-- Main CSS File -->
   <link rel="stylesheet" href="user/css/style.css">
   <link rel="stylesheet" href="user/css/skins/skin-demo-8.css">
   <link rel="stylesheet" href="user/css/demos/demo-8.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

</head>

<body>
    <header class="header">
        <div class="header-bottom sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>
                    
                    <a href="/" class="logo">
                        <img src="user/images/logo.jpg" alt="Molla Logo" width="82" height="20">
                    </a>
                </div>
                <div class="header-center">
                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container">
                                <a href="/" class="sf-with-ul">Home</a>
                            </li>
                            <li>
                                <a href="category.html" class="sf-with-ul">Shop</a>
                            </li>
                            <li>
                                <a href="/viewMore" class="sf-with-ul">Product</a>
                            </li>
                            <li <% if (typeof userName !== 'undefined') { %>style="display: block;"<% } else { %>style="display: none;"<% } %>>
                                <a href="/myAccount" class="sf-with-ul">Account</a>
                            </li>
                            <li>
                                <a href="blog.html" class="sf-with-ul">About Us</a>
                            </li>
                            <% if (typeof userName !== 'undefined') { %>
                            <li>
                                <a href="/logout" class="sf-with-ul">LOGOUT</a>
                            </li>
                            <% } else { %>
                            <li>
                                <a href="/login" class="sf-with-ul">LOGIN</a>
                            </li>
                            <% } %>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-center -->
                
    
                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form> 
                    </div><!-- End .header-search -->
    
                    <a href="wishlist.html" class="wishlist-link">
                        <i class="icon-heart-o"></i>
                        <!-- <span class="wishlist-count">3</span> -->
                    </a>
                   

                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button">
                            <i class="icon-shopping-cart"></i>
                           
                        </a>
    
                    </div><!-- End .cart-dropdown -->
                   
                </div><!-- End .header-right -->
               
            </div><!-- End .container -->
          
        </div><!-- End .header-bottom -->
    </header><!-- End .header -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const searchToggle = document.querySelector('.search-toggle');
            const searchForm = document.querySelector('.header-search-wrapper');
    
            searchToggle.addEventListener('click', function () {
                searchForm.classList.toggle('active');
            });
        });
    </script>
    