<%- include('../layout/header.ejs') -%>

    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>

                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->
        <div class="container">
            <div class="page-header page-header-big text-center"
                style="background-image: url('user/images/about-header-bg.jpg')">
                <h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
            </div><!-- End .page-header -->
        </div><!-- End .container -->

        <div class="page-content pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-3 mb-lg-0">
                        <h2 class="title">Our Vision</h2><!-- End .title -->
                        <p>
                            Welcome to "HIS & HERS," where style meets sophistication in the realm of online fashion.
                            Immerse yourself in an unparalleled shopping experience that seamlessly blends the latest
                            trends with timeless classics, catering to the distinctive tastes of both men and women.
                        </p>
                    </div><!-- End .col-lg-6 -->

                    <div class="col-lg-6">
                        <h2 class="title">Our Mission</h2><!-- End .title -->
                        <p>At "HIS & HERS," we understand that fashion is more than just clothing; it's a form of
                            self-expression. Our carefully curated catalog encompasses a wide spectrum of styles,
                            ensuring there's something for every occasion and every personality. Whether you're
                            embracing the latest runway trends or seeking enduring classics, our platform is your
                            gateway to a world of sartorial possibilities.</p>
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->

                <div class="mb-5"></div><!-- End .mb-4 -->
            </div><!-- End .container -->

            <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 mb-3 mb-lg-0">
                            <h2 class="title">Who We Are</h2><!-- End .title -->
                            <p class="lead text-primary mb-3"> "HIS & HERS" is not just a destination; it's a
                                lifestyle—an exploration of your unique style narrative.</p>
                            <!-- End .lead text-primary -->
                            <p class="mb-2">Elevate your fashion journey with us, where every click unveils a new
                                chapter in the story of your personal style. Welcome to a world where fashion knows no
                                bounds, and individuality reigns supreme. </p>


                        </div><!-- End .col-lg-5 -->

                        <div class="col-lg-6 offset-lg-1">
                            <div class="about-images">
                                <img src="user/images/about/img-1.jpg" alt="" class="about-img-front">
                                <img src="user/images/about/img-2.jpg" alt="" class="about-img-back">
                            </div><!-- End .about-images -->
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .bg-light-2 pt-6 pb-6 -->

            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="brands-text">
                            <h2 class="title">The world's premium design brands in one destination.</h2>
                            <!-- End .title -->
                            <p>Discover a curated selection of fashion-forward pieces that not only elevate your
                                wardrobe but also reflect your individuality.</p>
                        </div><!-- End .brands-text -->
                    </div><!-- End .col-lg-5 -->
                    <div class="col-lg-7">
                        <div class="brands-display">
                            <div class="row justify-content-center">
                                <img src="/user/images/logo.jpg" alt="Company Logo" class="logo">
                            </div><!-- End .row -->
                        </div><!-- End .brands-display -->
                    </div><!-- End .col-lg-7 -->
                </div><!-- End .row -->

                <hr class="mt-4 mb-6">

                <h2 class="title text-center mb-4">Meet Our Team</h2><!-- End .title text-center mb-2 -->

                <div class="row">

                    <div class="col-md-4 mx-auto">
                        <div class="member member-anim text-center">
                            <figure class="member-media">
                                <img src="user/364F20B8-9AE4-4A2A-9F14-2A43B71E959CL0001.jpeg" alt="member photo">

                                <figcaption class="member-overlay">
                                    <div class="member-overlay-content">
                                        <h3 class="member-title">Nishad Ali Chenadan<span>Founder & CEO</span></h3>
                                        <!-- End .member-title -->
                                        <p>Sed pretium, ligula sollicitudin viverra, tortor libero sodales leo, eget
                                            blandit nunc.</p>
                                        <div class="social-icons social-icons-simple">
                                            <a href="https://www.facebook.com/profile.php?id=100093849917317&mibextid=ZbWKwL"
                                                class="social-icon" title="Facebook" target="_blank"><i
                                                    class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                    class="icon-twitter"></i></a>
                                            <a href="https://instagram.com/nishad.chenadan?igshid=MTk0NTkyODZkYg=="
                                                class="social-icon" title="Instagram" target="_blank"><i
                                                    class="icon-instagram"></i></a>
                                        </div><!-- End .soial-icons -->
                                    </div><!-- End .member-overlay-content -->
                                </figcaption><!-- End .member-overlay -->
                            </figure><!-- End .member-media -->
                            <div class="member-content">
                                <h3 class="member-title">Nishad Ali Chenadan<span>Founder & CEO</span></h3>
                                <!-- End .member-title -->
                            </div><!-- End .member-content -->
                        </div><!-- End .member -->
                    </div><!-- End .col-md-4 -->


                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-2"></div><!-- End .mb-2 -->

            <div class="about-testimonials bg-light-2 pt-6 pb-6">
                <div class="container">
                    <h2 class="title text-center mb-3">What Customer Say About Us</h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" data-owl-options='{
                        "nav": false, 
                        "dots": true,
                        "margin": 20,
                        "loop": false,
                        "responsive": {
                            "1200": {
                                "nav": true
                            }
                        }
                    }'>
                        <blockquote class="testimonial text-center">
                            <img src="/user/images/Screenshot 2023-12-06 195958.png" alt="user">
                            <p>“ As a fashion influencer, I can confidently say that "HIS & HERS" is not just a website;
                                it's a movement. So, join me in this fashion revolution – where innovation meets
                                tradition, and every outfit is a statement. ✨💄 ”</p>
                            <cite>
                                Kendell Jenner
                                <span>Customer</span>
                            </cite>
                        </blockquote><!-- End .testimonial -->

                        <blockquote class="testimonial text-center">
                            <img src="/user/images/11q.png" alt="user">
                            <p>“ This online haven isn't just a website; it's a style sanctuary tailored for men who
                                appreciate the perfect blend of contemporary trends and timeless classics. Picture this
                                – a seamless fusion of modern sophistication and rugged elegance, all curated just for
                                you.”</p>

                            <cite>
                                Adish Mani
                                <span>Customer</span>
                            </cite>
                        </blockquote><!-- End .testimonial -->
                    </div><!-- End .testimonials-slider owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .bg-light-2 pt-5 pb-6 -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


    <%- include('../layout/footer.ejs') -%>