<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card text-center bg-light">
                <div class="card-body">
                    <img src="/user/success.gif" alt="Success GIF" class="img-fluid"style="max-width: 550px;">
                    <h4 class="card-title">Order Successful!</h4>
                    <p class="card-text">Thank you for your order.</p>
                    <div class="mt-4">
                        <a href="/" class="btn btn-primary mx-2">Continue Shopping</a>
                        <a href="/myAccount" class="btn btn-danger mx-2">My Orders</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS and jQuery scripts here (if needed) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
