[9:56 am, 28/11/2023] Adil Brototype: <script>
    // Download the reports repending the buttons clicked
    function downloadCustomReport() {
      let start=document.getElementById("fromDate").value
      let end=document.getElementById("toDate").value
      $.ajax({
        type: "GET",
        url: "/admin/downloadSalesReport?button=custom",
        data: {
          fromDate:start,
          toDate:end
        },
        contentType: "application/json",
        success: function (data) {
          //sweetalert("success")
          
          window.location.href = data
        },
        error: function (data) {
          console.log(data)
        }
      })
    }
  </script>
[9:57 am, 28/11/2023] Adil Brototype: <div class="row">
      <div
        class="col-md-6 col-xl-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div
              class="d-flex flex-row justify-content-between">
              <h4 class="card-title">Download Sales Report</h4>
              <p class="text-muted mb-1 small"></p>
            </div>
            <div class="btns">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="date"
                      class="form-control" id="fromDate"
                      placeholder="From"
                      name="fromDate" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="date"
                        class="form-control" id="toDate"
                        placeholder="To" name="toDate" required>
                      <button type="button" class="btn btn-primary"
                        onclick="downloadCustomReport()">Download</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div
        class="col-md-6 col-xl-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div
              class="d-flex flex-row justify-content-between">
              <h4 class="card-title">Quick Reports</h4>
              <p class="text-muted mb-1 small"><a href="/admin/downloadSalesReport"><i class="fa fa-download"></i></a></p>
            </div>
            <div class="btns">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <a 
                      href="/admin/downloadSalesReport?button=lastWeek"
                      class="btn btn-primary btn-block"
                      onclick="downloadReport('lastWeek')">Last
                      Week</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <a 
                      href="/admin/downloadSalesReport?button=lastMonth"
                      class="btn btn-primary btn-block"
                      onclick="downloadReport('lastMonth')">Last
                      Month</a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <a
                      href="/admin/downloadSalesReport?button=lastYear"
                      class="btn btn-primary btn-block"
                      onclick="downloadReport('lastYear')">Last
                      Year</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>